@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900|Bitter:400,700&display=swap');

* {
  box-sizing: border-box;
  transition: transform .4s;
}
a{
	text-decoration:none;
}

.wrapper{
	max-width: 75rem;
	margin: auto;
 	padding: 0 3rem;
 	@media screen and (min-width: 40em){
 		padding: 0 3rem;
 	}
}

// font-family: 'Barlow', sans-serif;
// font-family: 'Bitter', serif;

h3{
	font-family: 'Barlow', sans-serif;
	font-weight:700;
}

h2{
	font-family: 'Barlow', sans-serif;
	font-weight:900;
}

h1{
	font-family: 'Bitter', serif;
	font-weight:700;
}

p{
	font-family: 'Barlow', sans-serif;
	font-weight:400;
}
